/*CLASE COLOR DE LOS HORARIOS*/
.miclase0{
    background-color: rgb(48, 236, 236);font-size: 0,50em;
}
.miclase1{
background-color: rgb(47, 172, 255) ;font-size: 0,30em;

}
.miclase2{
    background-color: rgb(4, 82, 146); font-size: 0,30em;
}
.miclase3{
    background-color: rgb(52, 6, 104);font-size: 0,30em;
}
/*CLASE FONDO DE HEADER*/
.fondodeheader{
    background-color: cornsilk;
}
/*FONDO DE FOOTHER INDEX*/
.fondodefooter{
    background-color: darkseagreen;
} 
/*FORMULARIO*/
.formulario{
 margin: 0%;  width: 200px; margin-left: 10px ; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; background-color: grey;
}